@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background-color: #edf2f4;  
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

*{
  box-sizing: border-box;
}
#first_column{
  width: 20%;
}

.holders{
  font-weight: bold;
}
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#super_hero_name {
  color: #2b2d42;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

h2 {
  color: #2b2d42;
  width: 300px;
}

#super_hero{
  background-color: #fff;
  margin: 10px;
  height: 400px;
  width: 300px;
}

#super_hero img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}


#hero_btn {
    background-color:#2b2d42;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

button:active {
  transform: scale(0.98);
}

button:focus {
  outline: none
}


